@charset "UTF-8";

/*loading page*/
.loading{width:100vw; height:100vh; position:absolute; left:0; top:0; z-index:9998; display:block;}
.loading .pos_rel{position:relative;}
.loading .pos_rel img{width:280px; position:absolute; top:calc(50% - 140px); left:calc(50% - 140px);}
.loading .pos_rel .loading_bg{background:url(../img/loading-bg.png); background-repeat:no-repeat; background-size:cover; background-position:center; height:100vh;}
/*----------------------------------------------------*/