@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Montserrat:700,700i,800,800i,900,900i&display=swap');
@viewport{viewport-fit: cover;}

/*reset*/
*{margin:0; padding:0; font-family: 'Montserrat', sans-serif; hyphens:none; word-break:keep-all; color:rgba(50,50,50,1); outline:none;}
html{overflow-x:hidden;}
body{margin:0; padding:0; overflow-x:hidden;}
a{text-decoration:none; color:rgba(50,50,50,1);}
ul, li{list-style:none; margin:0;}
p, span, h1, h2, h3{margin:0; padding:0;}
/*reset end*/
/*----------------------------------------------------*/
html, body{margin:0; height:100%; overflow:hidden;}
body{position:fixed;}

/*background*/
.content{width:100vw; height:100vh; background:url(../img/22-2.png); background-repeat:no-repeat; background-size:cover; overflow:hidden; display:block;}

.wrap{position:absolute; top:calc(50% - 259.5px); left:0; height:519px; width:100vw;}
.inner{position:relative; display:block; width:375px; margin:0 auto;}

/*scratch area*/
#test img, canvas{border-radius: 50%;}
#test{width:300px; height:440px; position:absolute; top:65px; left:calc(50% - 150px); z-index:1;}

/*title*/
.title-main{width:351px; height:198px; background:url(../img/logo-main.gif); background-repeat:no-repeat; background-size:cover; display:block; position:absolute; top:-30px; left:calc(50% - 175.5px); pointer-events:none; z-index:4; transform:scale(0.9);}
.title-sub{width:267px; height:65px; background:url(../img/logo-sub.png); background-repeat:no-repeat; background-size:cover; display:block; position:absolute; top:444px; left:calc(50% - 138.5px); pointer-events:none; z-index:4; transform:scale(0.85);}

/*----------------------------------------------------*/
/*graphic details*/
.content .inner .graphic{position:relative;}
.content .inner .graphic li{position:absolute; top:0; left:0; z-index:3; pointer-events:none; display:block;}
/*----------------------------------------------------*/
.content .inner .dots{position:relative;}
.content .inner .dots li{width:50px; height:50px; position:absolute; left:0; top:0; pointer-events:none; display:block; z-index:2;}

/*dots show and hide*/
.content .inner .dot1{display:none;}
.content .inner .dot2{display:none;}
/*----------------------------------------------------*/
/*popup*/
.popup{width:230px; position:absolute; top:calc(50% - 50px); left:calc(50% - 115px); z-index:9990; display:block; animation:none; transform:scale(0);}
.popup img{width:100%; border-radius:15px;}
.popup .close_btn{width:40px; height:40px; background:url(../img/check-close.png); background-repeat:no-repeat; background-size:cover; position:absolute; top:-2px; right:-2px; cursor:pointer;}

@keyframes growPop{
    from{transform:scale(0);}
    to{transform:scale(1);}
}
/*----------------------------------------------------*/
/*scratch me*/
.scratchme{width:200px; position:absolute; top:calc(50% - 0px); left:calc(50% - 100px); z-index:9990; pointer-events:none; display:block;}
.scratchme img{width:100%;}
/*----------------------------------------------------*/
/*Galaxy*/
@media only screen
and (min-device-width: 360px)
and (max-device-width: 360px)
and (orientation: portrait) {
    
.inner{position:relative; display:block; width:360px; margin:0 auto;} 
}
